{% extends 'base.html' %}
{% block content %}
    <h2 style="text-align: center;">Cadastro</h2>
    <hr>
    <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Seu formulário possui erros:
                {% for field in form %}
                    {% if field.errors %}
                        <p>{{ field.label }}: {{ field.errors|join:", " }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {{ form.as_p }}
        <br>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
{% endblock %}
